In [1]:
import pandas as pd
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
dataset = [['Eggs', 'Kidney Beans', 'Milk', 'Nutmeg', 'Onion', 'Yogurt'], ['Dill', 'Eggs', 'Kidney Beans', 'Nutmeg', 'Onion', 'Yogurt'], ['Apple', 'Eggs', 'Kidney Beans', 'Milk'], ['Corn', 'Kidney Beans', 'Milk', 'Yogurt'], ['Corn', 'Eggs', 'Ice cream', 'Kidney Beans', 'Onion'], ['Apple', 'Milk', 'Yogurt'], ['Eggs', 'Kidney Beans', 'Onion'], ['Corn', 'Dill', 'Kidney Beans', 'Nutmeg', 'Onion'], ['Apple', 'Eggs', 'Ice cream', 'Milk', 'Onion', 'Yogurt'], ['Ice cream'], ['Apple', 'Ice cream', 'Nutmeg']]

dataset

[['Eggs', 'Kidney Beans', 'Milk', 'Nutmeg', 'Onion', 'Yogurt'],
 ['Dill', 'Eggs', 'Kidney Beans', 'Nutmeg', 'Onion', 'Yogurt'],
 ['Apple', 'Eggs', 'Kidney Beans', 'Milk'],
 ['Corn', 'Kidney Beans', 'Milk', 'Yogurt'],
 ['Corn', 'Eggs', 'Ice cream', 'Kidney Beans', 'Onion'],
 ['Apple', 'Milk', 'Yogurt'],
 ['Eggs', 'Kidney Beans', 'Onion'],
 ['Corn', 'Dill', 'Kidney Beans', 'Nutmeg', 'Onion'],
 ['Apple', 'Eggs', 'Ice cream', 'Milk', 'Onion', 'Yogurt'],
 ['Ice cream'],
 ['Apple', 'Ice cream', 'Nutmeg']]

In [2]:
df1 = pd.DataFrame(dataset, columns = )
df1

            0             1             2             3      4       5
0        Eggs  Kidney Beans          Milk        Nutmeg  Onion  Yogurt
1        Dill          Eggs  Kidney Beans        Nutmeg  Onion  Yogurt
2       Apple          Eggs  Kidney Beans          Milk   None    None
3        Corn  Kidney Beans          Milk        Yogurt   None    None
4        Corn          Eggs     Ice cream  Kidney Beans  Onion    None
5       Apple          Milk        Yogurt          None   None    None
6        Eggs  Kidney Beans         Onion          None   None    None
7        Corn          Dill  Kidney Beans        Nutmeg  Onion    None
8       Apple          Eggs     Ice cream          Milk  Onion  Yogurt
9   Ice cream          None          None          None   None    None
10      Apple     Ice cream        Nutmeg          None   None    None

In [3]:
te = TransactionEncoder()

te_ary = te.fit(dataset).transform(dataset)

In [4]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df.head()

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Yogurt
0,False,False,False,True,False,True,True,True,True,True
1,False,False,True,True,False,True,False,True,True,True
2,True,False,False,True,False,True,True,False,False,False
3,False,True,False,False,False,True,True,False,False,True
4,False,True,False,True,True,True,False,False,True,False

In [5]:
frequent_itemsets = apriori(df, min_support = 0.3, use_colnames = True)

frequent_itemsets

     support                     itemsets
0   0.363636                      (Apple)
1   0.545455                       (Eggs)
2   0.363636                  (Ice cream)
3   0.636364               (Kidney Beans)
4   0.454545                       (Milk)
5   0.363636                     (Nutmeg)
6   0.545455                      (Onion)
7   0.454545                     (Yogurt)
8   0.454545         (Kidney Beans, Eggs)
9   0.454545                (Onion, Eggs)
10  0.454545        (Onion, Kidney Beans)
11  0.363636               (Milk, Yogurt)
12  0.363636  (Onion, Eggs, Kidney Beans)

In [6]:
result = association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.6)

result

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),0.636364,0.545455,0.454545,0.714286,1.309524,0.107438,1.590909
1,(Eggs),(Kidney Beans),0.545455,0.636364,0.454545,0.833333,1.309524,0.107438,2.181818
2,(Onion),(Eggs),0.545455,0.545455,0.454545,0.833333,1.527778,0.157025,2.727273
3,(Eggs),(Onion),0.545455,0.545455,0.454545,0.833333,1.527778,0.157025,2.727273
4,(Onion),(Kidney Beans),0.545455,0.636364,0.454545,0.833333,1.309524,0.107438,2.181818
5,(Kidney Beans),(Onion),0.636364,0.545455,0.454545,0.714286,1.309524,0.107438,1.590909
6,(Milk),(Yogurt),0.454545,0.454545,0.363636,0.800000,1.760000,0.157025,2.727273
7,(Yogurt),(Milk),0.454545,0.454545,0.363636,0.800000,1.760000,0.157025,2.727273
8,"(Onion, Eggs)",(Kidney Beans),0.454545,0.636364,0.363636,0.800000,1.257143,0.074380,1.818182
9,"(Onion, Kidney Beans)",(Eggs),0.454545,0.545455,0.363636,0.800000,1.466667,0.115702,2.272727
10,"(Kidney Beans, Eggs)",(Onion),0.454545,0.545455,0.363636,0.800000,1.466667,0.115702,2.272727
11,(Onion),"(Kidney Beans, Eggs)",0.545455,0.454545,0.363636,0.666667,1.466667,0.115702,1.636364
12,(Eggs),"(Onion, Kidney Beans)",0.545455,0.454545,0.363636,0.666667,1.466667,0.115702,1.636364

In [7]:
result1 = result[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

result1

,antecedents,consequents,support,confidence,lift
0,(Kidney Beans),(Eggs),0.454545,0.714286,1.309524
1,(Eggs),(Kidney Beans),0.454545,0.833333,1.309524
2,(Onion),(Eggs),0.454545,0.833333,1.527778
3,(Eggs),(Onion),0.454545,0.833333,1.527778
4,(Onion),(Kidney Beans),0.454545,0.833333,1.309524
5,(Kidney Beans),(Onion),0.454545,0.714286,1.309524
6,(Milk),(Yogurt),0.363636,0.800000,1.760000
7,(Yogurt),(Milk),0.363636,0.800000,1.760000
8,"(Onion, Eggs)",(Kidney Beans),0.363636,0.800000,1.257143
9,"(Onion, Kidney Beans)",(Eggs),0.363636,0.800000,1.466667
10,"(Kidney Beans, Eggs)",(Onion),0.363636,0.800000,1.466667
11,(Onion),"(Kidney Beans, Eggs)",0.363636,0.666667,1.466667
12,(Eggs),"(Onion, Kidney Beans)",0.363636,0.666667,1.466667

In [8]:
result1.sort_values('lift', ascending = False)

,antecedents,consequents,support,confidence,lift
6,(Milk),(Yogurt),0.363636,0.800000,1.760000
7,(Yogurt),(Milk),0.363636,0.800000,1.760000
2,(Onion),(Eggs),0.454545,0.833333,1.527778
3,(Eggs),(Onion),0.454545,0.833333,1.527778
9,"(Onion, Kidney Beans)",(Eggs),0.363636,0.800000,1.466667
10,"(Kidney Beans, Eggs)",(Onion),0.363636,0.800000,1.466667
11,(Onion),"(Kidney Beans, Eggs)",0.363636,0.666667,1.466667
12,(Eggs),"(Onion, Kidney Beans)",0.363636,0.666667,1.466667
0,(Kidney Beans),(Eggs),0.454545,0.714286,1.309524
5,(Kidney Beans),(Onion),0.454545,0.714286,1.309524
1,(Eggs),(Kidney Beans),0.454545,0.833333,1.309524
4,(Onion),(Kidney Beans),0.454545,0.833333,1.309524
8,"(Onion, Eggs)",(Kidney Beans),0.363636,0.800000,1.257143