In [1]:
import pandas as pd
dataset = [['Milk', 'Egg', 'Bread', 'Butter'],
           ['Milk', 'Butter', 'Egg', 'Ketchup'],
           ['Bread', 'Butter', 'Ketchup'],
           ['Milk', 'Bread', 'Butter'],
           ['Cookies', 'Bread', 'Butter'],
           ['Milk', 'Bread', 'Butter', 'Cookies'],
           ['Milk', 'Cookies'],
           ['Milk', 'Bread', 'Butter'],
           ['Egg', 'Bread', 'Butter', 'Cookies'],
           ['Milk', 'Bread', 'Butter'],
           ['Milk', 'Bread', 'Cookies', 'Ketchup']]

In [2]:
dataset

[['Milk', 'Egg', 'Bread', 'Butter'],
 ['Milk', 'Butter', 'Egg', 'Ketchup'],
 ['Bread', 'Butter', 'Ketchup'],
 ['Milk', 'Bread', 'Butter'],
 ['Cookies', 'Bread', 'Butter'],
 ['Milk', 'Bread', 'Butter', 'Cookies'],
 ['Milk', 'Cookies'],
 ['Milk', 'Bread', 'Butter'],
 ['Egg', 'Bread', 'Butter', 'Cookies'],
 ['Milk', 'Bread', 'Butter'],
 ['Milk', 'Bread', 'Cookies', 'Ketchup']]

In [9]:
df1 = pd.DataFrame(dataset)
df1

          0        1        2        3
0      Milk      Egg    Bread   Butter
1      Milk   Butter      Egg  Ketchup
2     Bread   Butter  Ketchup     None
3      Milk    Bread   Butter     None
4   Cookies    Bread   Butter     None
5      Milk    Bread   Butter  Cookies
6      Milk  Cookies     None     None
7      Milk    Bread   Butter     None
8       Egg    Bread   Butter  Cookies
9      Milk    Bread   Butter     None
10     Milk    Bread  Cookies  Ketchup

In [5]:
 from mlxtend.preprocessing import TransactionEncoder

In [6]:
te = TransactionEncoder()

te_ary = te.fit(dataset).transform(dataset)

In [7]:
te_ary

array([[ True,  True, False,  True, False,  True],
       [False,  True, False,  True,  True,  True],
       [ True,  True, False, False,  True, False],
       [ True,  True, False, False, False,  True],
       [ True,  True,  True, False, False, False],
       [ True,  True,  True, False, False,  True],
       [False, False,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True,  True,  True, False, False],
       [ True,  True, False, False, False,  True],
       [ True, False,  True, False,  True,  True]])

In [8]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df.head()

   Bread  Butter  Cookies    Egg  Ketchup   Milk
0   True    True    False   True    False   True
1  False    True    False   True     True   True
2   True    True    False  False     True  False
3   True    True    False  False    False   True
4   True    True     True  False    False  False

In [ ]:
# We can see that from the first row we have Bread, Buttern Egg and Milk set to True and the rest set to false. Comparing with the initial dataset, The first row doesn't have cookies and ketchup so that's why they are set to false.

In [11]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df, min_support = 0.3, use_colnames = True)

frequent_itemsets

    support               itemsets
0  0.818182                (Bread)
1  0.818182               (Butter)
2  0.454545              (Cookies)
3  0.727273                 (Milk)
4  0.727273        (Butter, Bread)
5  0.363636       (Bread, Cookies)
6  0.545455          (Bread, Milk)
7  0.545455         (Butter, Milk)
8  0.454545  (Butter, Bread, Milk)

In [12]:
from mlxtend.frequent_patterns import association_rules

result = association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.6)

result

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Butter),(Bread),0.818182,0.818182,0.727273,0.888889,1.086420,0.057851,1.636364
1,(Bread),(Butter),0.818182,0.818182,0.727273,0.888889,1.086420,0.057851,1.636364
2,(Cookies),(Bread),0.454545,0.818182,0.363636,0.800000,0.977778,-0.008264,0.909091
3,(Bread),(Milk),0.818182,0.727273,0.545455,0.666667,0.916667,-0.049587,0.818182
4,(Milk),(Bread),0.727273,0.818182,0.545455,0.750000,0.916667,-0.049587,0.727273
5,(Butter),(Milk),0.818182,0.727273,0.545455,0.666667,0.916667,-0.049587,0.818182
6,(Milk),(Butter),0.727273,0.818182,0.545455,0.750000,0.916667,-0.049587,0.727273
7,"(Butter, Bread)",(Milk),0.727273,0.727273,0.454545,0.625000,0.859375,-0.074380,0.727273
8,"(Butter, Milk)",(Bread),0.545455,0.818182,0.454545,0.833333,1.018519,0.008264,1.090909
9,"(Bread, Milk)",(Butter),0.545455,0.818182,0.454545,0.833333,1.018519,0.008264,1.090909
10,(Milk),"(Butter, Bread)",0.727273,0.727273,0.454545,0.625000,0.859375,-0.074380,0.727273

In [13]:
result1 = result[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

result1

        antecedents      consequents   support  confidence      lift
0          (Butter)          (Bread)  0.727273    0.888889  1.086420
1           (Bread)         (Butter)  0.727273    0.888889  1.086420
2         (Cookies)          (Bread)  0.363636    0.800000  0.977778
3           (Bread)           (Milk)  0.545455    0.666667  0.916667
4            (Milk)          (Bread)  0.545455    0.750000  0.916667
5          (Butter)           (Milk)  0.545455    0.666667  0.916667
6            (Milk)         (Butter)  0.545455    0.750000  0.916667
7   (Butter, Bread)           (Milk)  0.454545    0.625000  0.859375
8    (Butter, Milk)          (Bread)  0.454545    0.833333  1.018519
9     (Bread, Milk)         (Butter)  0.454545    0.833333  1.018519
10           (Milk)  (Butter, Bread)  0.454545    0.625000  0.859375

In [14]:
result1.sort_values('lift', ascending = False)

        antecedents      consequents   support  confidence      lift
0          (Butter)          (Bread)  0.727273    0.888889  1.086420
1           (Bread)         (Butter)  0.727273    0.888889  1.086420
8    (Butter, Milk)          (Bread)  0.454545    0.833333  1.018519
9     (Bread, Milk)         (Butter)  0.454545    0.833333  1.018519
2         (Cookies)          (Bread)  0.363636    0.800000  0.977778
3           (Bread)           (Milk)  0.545455    0.666667  0.916667
5          (Butter)           (Milk)  0.545455    0.666667  0.916667
4            (Milk)          (Bread)  0.545455    0.750000  0.916667
6            (Milk)         (Butter)  0.545455    0.750000  0.916667
7   (Butter, Bread)           (Milk)  0.454545    0.625000  0.859375
10           (Milk)  (Butter, Bread)  0.454545    0.625000  0.859375